h1 {
    font-size: 100%;
}

#categories-container {
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 255, 0.627);
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
}
#front-image-container {
    display: block;
    width: 96dvw;
    aspect-ratio: 1.5/1;
}
#front-image-container img {
    width: 100%;
}

#items-gallery {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

.item-container {
    display: block;
    aspect-ratio: 1/1;
    outline: 1px solid black;
    flex-grow: 1;
    overflow: hidden;
    width: 33%;
    
}
.item {
    width: 100%;
}

#home-page h2 {
    text-align: left;
    margin-bottom: 1rem;
}
