h2,
h3 {
  text-align: center;
  font-size: 1.5rem;
}
#new-user-signup-label, #existing-user-login-label {
    text-align: center;
}
form {
    border: 1px solid black;
    margin-bottom: 1rem;
}
label:nth-of-type(1) {
    margin-top: 1rem;
}
input {
  width: 80dvw;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 25px;
  margin-bottom: 1rem;
}
label {
    display: block;
    width: 80dvw;
    margin: 0 auto;
    text-align: left;
}
button {
    font-size: 1.25rem;
}
form span {
    color: red;
}
